@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Abra um livro, deixe-se levar. Vai encontrar um novo mundo!</p>
    <div>
        <img src="~/img/livros.png" />
    </div>

</div>
